body{
    margin:0;
    padding: 0;
    .headerPart{
        margin:0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        width: 100%;
        background-color: rgb(25, 27, 29);
        h1,ul{
            margin: 0;
            color:white;
        }
        h1{
            font-size: 3rem;
            margin-left: 2rem;
        }
        ul{
            margin-right: 2rem;
            display: flex;
            font-size: 1.3rem;
            li{
                margin:0px 10px 0px 10px;
                list-style: none;
                a{
                    color: rgb(0, 255, 0);
                    text-decoration: none;
                }
            }
        }
    }
}