<link rel="stylesheet" href="/css/user_profile.css">

    <h1><%=title%> Home</h1
    <h1>
        <h2>Name: <%=user.name%></h2>
        <h2>Email: <%=user.email%></h2>
    </h1>

    <button>
        <a href="/users/signout">signout</a>
    </button>