<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/sign_in.css">
</head>
<body>
    <div>
        <form action="/users/create-session" method="post">
            <input type="email" name="email" required placeholder="Your email">
            <input type="password" name="password" placeholder="Your password" required>
            <input type="submit" value="SignIn">
        </form>
    </div>
</body>
</html>

<h2>
    <a href="/users/auth/google">Signin/Signup with Google</a>
</h2>