<!-- <link rel="stylesheet" href="/css/user_profile.css"> -->

<h1><%=title%> Home</h1
    <% if(user.id==profile_user.id){%>
      <form action="/users/create/<%=profile_user.id%>" method="post">
        <input type="text" name="name" placeholder="type your name" required>
        <input type="email" name="email" placeholder="type your email" required>
        <input type="submit" value="submit">
      </form>
    <%}else{%>
      <h2>Name:<%=profile_user.name%></h2>
      <h2>Email:<%=profile_user.email%></h2>
    
    <%}%>